user_uuid="e75bcd2d-7d49-4a46-aeed-c86b7e8269c7"
bucket_name="ftigrd53oiyhga2b3adyvyli3fokgeti"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"